body {
  color: #220000;
  background-color: green; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      color: red;
      font-size: 22px; }
